/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Cabin', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  height: 100px !important;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 20px;
  z-index: 9999;
}

/*************************/


#navigation-container {
  height:auto;
  background: rgba(26, 26, 26, 0);
  width:100%;
  padding:20px;
  position:fixed;
  top:0;
  transition:background 0.8s ease ;
  -webkit-transition:background 0.8s ease ;
  color:#fff;
  font-weight:bold;
  z-index: 3;
  }

#navigation-container a {
  color:#fff;
  text-decoration:none;
  }

#navigation-container ul {
  list-style:none;
  margin-right: 35px;
  }

#navigation-container ul li{
  float:right;
  margin-right:20px;
  padding: 7px 10px;
  }

#content-container {
  margin: 8em auto 2em auto;
  width:90%;
  max-width:800px;
  }

#navigation-container.darken {
  background: rgba(238, 70, 35, 1);
}


.main_logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
}

.main_logo img {
    width: 300px;
  }

.hb_title {
  color: #3d566e;
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Cabin', sans-serif;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}


.fade-in2{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.fade-in2 {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

.updates {
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
}

.email {
  border: 2.5px solid #4aa3df;
font-size: 1.3rem;
border-radius: 4px;
}



.bounce {
  position:absolute;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%{
    bottom:5px;
  }

  25%, 75% {
    bottom:15px;
  }


  50% {
    bottom:20px;
  }

  100% {
    bottom:0;
  }
}

.fa-chevron-down {
  color: #bdc3c7;
}

/*********************/



#slide-0 .bcg {
  height: 100%;
  width: 100%;
  height: 600px;
}

#slide-1 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('http://media-cache-ec0.pinimg.com/236x/6a/2e/ca/6a2ecaaa848e0018ebdd134d46f339af.jpg');
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 5000px;
}


#slide-1 #tree {
  width: 380px;
  height: 550px;
  position: fixed;
  top: 50%;
  margin: -275px 0 0 -190px;
}

#slide-1 .item {
  position: absolute;
  top: 200px;
  left: 0;
}

#slide-1 .food {
  bottom: 426px;
}

#slide-1 .food_text {
  bottom: 309px;
  left: 700px;
  top: auto;
  width: 150%;
}

#slide-1 .food_text p {
  font-size: 1.2rem;
}

.bacon {
  width: 300px;
}

.section-wrapper1 {
width: 100%;
height: 100%;
position: relative;
overflow: hidden;
height: 10000px;
background-color: #4aa3df;
}

#slide-2 #how {
  width: 380px;
  height: 550px;
  position: fixed;
  top: 50%;
}

#slide-2 .item {
  position: absolute;
  left: 0;
}

#slide-2 .how_screen1 {
  bottom: 309px;
  left: 250px;
  top: auto;
}

#slide-2 .how_screen2 {
  bottom: 309px;
  left: 500px;
  top: auto;
}

#slide-2 .how_screen3 {
  bottom: 309px;
  left: 750px;
  top: auto;
}

.iphone {
  width: 200px;
}

.section-wrapper2 {
width: 100%;
height: 100%;
position: relative;
overflow: hidden;
height: 10000px;
background-color: #1abc9c;
}


/*********************/

.circular {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(ellen.png) no-repeat;
  background-size: 102%;
  }

/*********************/

/*Original pen by @mightyshaban - http://cdpn.io/CIfdj/*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: #B3351A;
  opacity: 1;
  top: 0px;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

.logo img {
width: 60px;
margin-top: -19px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }

  .desktop_container {
    display: none;
  }

}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #fff;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.hero {
  position: relative;
  background-color: #EE4623;
  text-align: center;
  color: white;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 12px;
  line-height: 3;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  font-smooth: always;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #19293A;
}

h2 {
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

}

@media (min-width: 766px) {
  .mobile_container {
    display: none;
  }

  .desktop_container {
    display: block;
  }
}



