/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Cabin', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


#navigation-container {
  height:auto;
  background: rgba(26, 26, 26, 0);
  width:100%;
  padding:20px;
  position:fixed;
  top:0;
  transition:background 0.8s ease ;
  -webkit-transition:background 0.8s ease ;
  color:#fff;
  font-weight:bold;
  z-index: 3;
  }

#navigation-container a {
  color:#fff;
  text-decoration:none;
  }

#navigation-container ul {
  list-style:none;
  margin-right: 35px;
  }

#navigation-container ul li{
  float:right;
  margin-right:20px;
  padding: 7px 10px;
  }

#content-container {
  margin: 8em auto 2em auto;
  width:90%;
  max-width:800px;
  }

#navigation-container.darken {
  background: rgba(238, 70, 35, 1);
}


.main_logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
}

.main_logo img {
    width: 300px;
  }

.hb_title {
  color: #3d566e;
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Cabin', sans-serif;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}


.fade-in2{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.fade-in2 {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

.updates {
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
}

.email {
  border: 2.5px solid #4aa3df;
font-size: 1.3rem;
border-radius: 4px;
}



.bounce {
  position:absolute;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%{
    bottom:5px;
  }

  25%, 75% {
    bottom:15px;
  }


  50% {
    bottom:20px;
  }

  100% {
    bottom:0;
  }
}

.fa-chevron-down {
  color: #bdc3c7;
}
